@tailwind base;

@tailwind components;

@tailwind utilities;

.container {
    width: 920px;
}

.button {
    border-width: 1px;
    border-color: #dedede;
    padding: .5rem 2rem;
    border-radius: 9999px;
    color: #222;
    font-weight: 700;
    font-size: .75rem;
    transition: all .3s;
}
